/* Debugger config for an instance of niim which is debugging niim.
 * See ./config for the master niim config file.
 */
niim.autostart = true;
niim.prompt = 'niim-debugger';
niim.history = false;
niim.itmExitSequence = '\x1a';
niim.compatDisconnect = false;
niim.itmExitSequence = '\x03\x03';
niim.capturedOutputLeading = { stdout: '1< ', stderr: '2< ' };