/* Debugger config for an instance of niim which is debugging niim */
niim.autostart = true;
niim.prompt = 'niim-debugger';
niim.history = false;
niim.itmExitSequence = '\x1a';
niim.compatDisconnect = false;
niim.itmExitSequence = '\x03\x03';
niim.captureOutputLeading = { stdout: '<1 ', stderr: '<2 ' };